{% extends 'base.html' %}

{% block content %}

<h4>Filters</h4>

<div class="shadow p-3 mb-5 bg-body rounded">
<form method='POST'>
	{{  form.hidden_tag() }}
<div class="row g-3 align-items-center">

	<div class="col-auto">
	{{ form.start_date(class="form-control") }}
	</div>
	<div class="col-auto">
	{{ form.end_date(class="form-control") }}
	</div>
	<div class="col-auto">
	{{ form.company_name(class='selectpicker', placeholder='Company Name') }}
	</div>
	<div class="col-auto" id="studio_drop">
	{{ form.studio_name(class="selectpicker", placeholder='Studio') }}
	</div>
	<div class="col-auto">
	{{ form.product_name(class="selectpicker", placeholder='Product') }}
	</div>
	<div class="col-auto">
	{{ form.submit(class="btn btn-secondary") }}
</div>
<div class="col-auto">
<button type="button" class="btn btn-secondary " id="export_button">Download</button>
</div>
</div>
</form>
</div>

<br/>
  <div class='row'>
  	<div class='col-6'>
	<div id='profit_by_month_bar' style='height: 30vh'></div>
		<script>
			var graphs = {{ graph|safe }};
			Plotly.plot('profit_by_month_bar', graphs, {});
		</script>
	</div>
	<div class='col-6'>
	<div id='predictions' style='height: 30vh'></div>
		<script>
			var graphs = {{ graph4|safe }};
			Plotly.plot('predictions', graphs, {});
		</script>
	</div>
</div>
  <div class='row'>
  	<div class="col-6">
	<div id='cumsum' style='height: 30vh'></div>
		<script>
			var graphs2 = {{ graph2|safe }};
			Plotly.plot('cumsum', graphs2, {});
		</script>
	</div>

  <div class="col-6">
	<div id='bar_project' style='height: 30vh'></div>
		<script>
			var graphs3 = {{ graph3|safe }};
			Plotly.plot('bar_project', graphs3, {});
		</script>
	</div>
</div>
<table class="table table-hover table-bordered table-striped" id="tbl">
	<thead class="table-success">
  	<tr>
	<td align="center"><h6>Product</h6></td>
	<td align="center"><h6>Amount, USD</h6></td> 
	</tr>
	</thead>


{% for i, row in df.iterrows() %}
<tr>
    <td>{{ row.Project|safe }}</td>
    <td align="right">{{ row.Amount_USD|safe|FormatDecimal }}</td>
</tr>
{% endfor %} 


</table>
<!--
<script>
function findFirstDescendant(parent, tagname)
{
   parent = document.getElementById(parent);
   let descendants = parent.getElementsByTagName(tagname);
	return descendants;
   }

let header = findFirstDescendant("studio_drop", "ul");
console.log(header);
//let studio_sel = document.getElementById('studio_drop')
//let list = studio_sel.getElementsByTagName('ul')
//console.log(list);
</script>
<script>
let studio_select = document.getElementById('studio_name')

document.getElementById('company_name').onchange = function() {
	let selection = [];
	let opts = document.getElementById('company_name')
    for (let opt of opts.options) {
        if (opt.selected) {
        	selection.push(opt.value);
        }
    }
    let optionHTML = '<option value="Studio">Studio</option>';
    //let studio_name_list = [];
    console.log(selection)
    for (let sel of selection){
    	fetch('/studio/' + sel).then(function(response){
    		response.json().then(function(data) {
    			for (let studio of data.studios['name']){
    				optionHTML+= '<option value="' + studio + '">' + studio +'</option>';		
				}
				studio_select.innerHTML = optionHTML;


    				//console.log(studio);
    				//studio_name_list.push(studio)
    			})

    	})
   	}
    }



</script>

--->


{% endblock %}


