{% extends 'base.html' %}

{% block content %}

<h4>Filters</h4>

<div class="shadow p-3 mb-5 bg-body rounded">
<form method='POST'>
	{{  form.hidden_tag() }}
<div class="row g-3 align-items-center">

	<div class="col-auto">
	{{ form.start_date(class="form-control") }}
	</div>
	<div class="col-auto">
	{{ form.end_date(class="form-control") }}
	</div>
	<div class="col-auto">
	{{ form.company_name(class='selectpicker', placeholder='Company Name') }}
	</div>
	<div class="col-auto">
	{{ form.studio_name(class="selectpicker", placeholder='Studio') }}
	</div>
	<div class="col-auto">
	{{ form.product_name(class="selectpicker", placeholder='Product') }}
	</div>
	<div class="col-auto">
	{{ form.submit(class="btn btn-secondary") }}
</div>
<div class="col-auto">
<button type="button" class="btn btn-secondary " id="export_button">Download</button>
</div>
</div>
</form>
</div>

<br/>
  <div class='row'>
	<div id='profit_by_month_bar'></div>
		<script>
			var graphs = {{ graph|safe }};
			Plotly.plot('profit_by_month_bar', graphs, {});
		</script>
</div>








{% endblock %}


